
.loginContainer {
    margin: 0;
    padding: 0;
}

.loginWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 25px;
    overflow: auto;
    min-height: 550px;
}

.leftSide{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 550px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.rightSide {
    display: flex;
    width: 50%;
    height: 550px;
    padding: 35px; 
    justify-content: center;
    align-items: center;
    align-content: center;
}

.rightSideWrapper {
    display: flex;
    padding: 15px;
    border-radius: 25px;
    height: 550px;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.socialMedia  {
    display: flex;
    width: 100%;
    padding: 10px;
}

.inputBttnGoogle,
.inputBttnFacebook,
.inputBttnGithub {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputBttnGoogle .button {
    @apply w-full bg-gradient-to-r from-red-500  via-yellow-500 to-green-500 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.inputBttnFacebook .button {
    @apply w-full bg-gradient-to-r from-blue-500  to-indigo-500 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.inputBttnGithub .button {
    @apply w-full bg-gradient-to-r from-gray-500 to-gray-900 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.inputBttnGoogle .button:hover {
    @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500;
    @apply text-gray-700 border;
}

.inputBttnFacebook .button:hover {
    @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-900;
    @apply text-gray-700 border;
}

.inputBttnGithub .button:hover {
    @apply bg-gradient-to-r from-gray-50 to-gray-100 border-gray-500;
    @apply text-gray-700 border;
}

