  .mainContainer {
    width: 100%;
    padding: 0 30px 30px 30px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .contentContainer{
    width: 100%;
    height: max-content;
    position: relative;
  }

  .background {
    display: flex;
    max-height: 600px;
    z-index: 1;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    z-index: 2;
  }

  .miniWindows {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    z-index: 1;

  }

  .miniWindow1 {
    position: absolute;
    bottom: 30px;
    left: 100px;
    width: 300px;
    height: 300px;
  }
  .miniWindow2 {
    position: absolute;
    bottom: 250px;
    left: 200px;
    width: 200px;
    height: 200px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  }

  .miniWindow3 {
    position: absolute;
    bottom: 50px;
    right: 10px;
    width: 400px;
    height: 400px;
  }

  .miniWindow4 {
    position: absolute;
    bottom: -30px;
    right: 150px;
    width: 200px;
    height: 200px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screenHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screenHeaderLeft {
    margin-right: auto;
  }
  
  .screenHeaderButton {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screenHeaderButton.close {
    background: #ed1c6f;
  }
  
  .screenHeaderButton.maximize {
    background: #e8e925;
  }
  
  .screenHeaderButton.minimize {
    background: #74c54f;
  }
  
  .screenHeaderRight {
    display: flex;
  }
  
  .screenHeaderEllipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screenBody {
    display: flex;
  }
  
  .screenBodyItem {
    flex: 1;
    padding: 50px;
  }
  
  .screenBodyItem.left {
    display: flex;
    flex-direction: column;
  }
  
  .appTitle {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .appTitle:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }

  .thankYou {
    font-size: 18px;
    font-weight: bold;
  }
  
  .appContact {
    margin-top: auto;
    color: #888;
  }

  .appContactSuccess {
    margin-top: 60px;
    color: #888;
  }

  .contactP {
    font-size: 14px;
  }
  .contactN {
    font-size: 12px;
  }
  .contactE {
    font-size: 12px;
  }

  .successNote {
    margin-top: 30px;
    color: #888;
    font-size: 12px;
  }
  
  .appFormGroup {
    margin-bottom: 15px;
  }
  
  .appFormGroup.message {
    margin-top: 40px;
  }
  
  .appFormGroup.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .appFormControl {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .appFormControl::placeholder {
    color: #666;
  }
  
  .appFormControl:focus {
    border-bottom-color: #ddd;
  }
  
  .appFormButton {
    margin-left: 25px;
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .appFormButton:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .creditsLink {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  .messageBox {
    max-height: 350px !important;
  }
    
    /* ==============media querry */
    @media screen and (max-width: 1280px) {
   
    }
  
    @media screen and (max-width: 1024px){
        .miniWindow1,
        .miniWindow2,
        .miniWindow3,
        .miniWindow4 {
            display: none;
        }    
  
    }
  
    @media screen and (max-width: 768px) {   
        .contentContainer{
            height: 100vh;
          }

        .screenBody {
            flex-direction: column;
        }
        
        .screenBodyItem.left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }

        .screenBodyItem.left .appTitle {
            margin-bottom: 50px;
        }
    
    }
  
    @media screen and (max-width: 640px) {
        .contentContainer{
            width: 100%;
            height: 115vh;
            position: relative;
          }
      
    }
  
    @media (orientation: portrait) {
     
    }