.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow: auto; /* Change to "auto" to enable scrolling */
  }
  
  .modal {
    min-width: 75%;
    max-width: 80%; /* Change to "max-width" for responsiveness */
    height: auto; /* Change to "auto" for dynamic height */
    margin: 60px;
    color: black;
    background-color: #fff;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }

  .modalTitle {
    position: absolute;
    left: 30px;
    top: 120px;
  }
  
  .modalBanner {
    background: #ddd;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalFooter{
    background: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    flex: 1; /* Allow modal content to grow and occupy available space */
    padding: 20px;
    overflow-y: auto; /* Add "overflow-y" property to enable vertical scrolling */
    display: flex;
    flex-direction: row;
}
  
  .modalContent .modalLeft {
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: hidden;
    position: relative;
    color: rgb(255, 255, 255);

  }
 
  .modalContent .modalRight {
    position: relative;
    width: 70%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .modalBtn {
    display: flex;
    position: absolute;
    right: 5px;
    top: -5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }
    
  .closeBtn {
    margin-top: 10px;
    padding: 10px;
    background-color: #be4816;
    color: #d0cfcf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .closeBtn:hover {
    background-color: #d0cfcf;
    color: #be4816;
    border: 2px solid #be4816;  
  }
  
  /* Leftside */
  .ProfileInfo , .ContactInfo,
  .EducSec, .Language, .Interest{
    z-index: 1;
  }

  .ContactNumber, .ContactLink,
  .ContactAddress {
    display: flex;
  }

  .ContactLink {
    display: flex;
    flex-direction: column;
  }

  .ContactLink div {
    display: flex;
  }

  .ContactLink div h3, .ContactNumber h3 {
    padding-top: 8px;
  }

  .ContactIcon h2 {
    font-size: 22px;
    padding: 10px;
    margin-right: 5px;
  }

  .modalLeft h1 {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }

  .ProfileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ProfileName h1 {
    font-size: 24px;
  }

  .ProPic{
    background-color: #be4816;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 50px;
    margin: 10px;
  }

  .ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .BGimage{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  /* Education Section */
  .EducInfo {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  .EducSec p {
    font-size: 12px;
  }

  .EducSec h2 {
    font-size: 18px;
    font-weight: bold;
  }

  /* Language Section */
  .LanInfo {
    padding-left: 10px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  /* Interest Section */

  .InterestList {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .InterestList div {
    margin-bottom: 10px;
  }

  .InterestInfo {
    display: flex;
  }

  .InterestInfo h2 {
    font-size: 22px;
    padding: 5px;
    margin-right: 5px;
  }

  .InterestInfo h3 {
    align-items: center;
    padding-top: 5px;
  }


  /* Rightside */

  /* Professional Skills */
  .SkillsSec{
    position: absolute;
    bottom: 20px;
  }
  
  .skillBar{
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 450px 50px;
  }

  /* .skillBar table td{
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  } */

  .skillname {
    padding: 5px;
  }

  .skillrate {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .skillscore {
    padding: 5px;
  }

  .firstColumn {
    width: 225px; /* Adjust the width */
    text-align: left; /* Adjust the text alignment */
  }
  
  .secondColumn {
    width: 450px; /* Adjust the width */
    text-align: center; /* Adjust the text alignment */
  }
  
  .thirdColumn {
    width: 50px; /* Adjust the width */
    text-align: right; /* Adjust the text alignment */
  }

  .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0;
  }

  .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #62929E;
  }

