.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow: auto; /* Change to "auto" to enable scrolling */
  }
  
  .modal {
    min-width: 75%;
    max-width: 80%; /* Change to "max-width" for responsiveness */
    height: auto; /* Change to "auto" for dynamic height */
    margin: 60px;
    color: black;
    background-color: #fff;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }

  .modalTitle {
    position: absolute;
    left: 30px;
    top: 120px;
  }
  
  .modalBanner {
    background: #ddd;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalFooter{
    background: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    flex: 1; /* Allow modal content to grow and occupy available space */
    padding: 20px;
    overflow-y: auto; /* Add "overflow-y" property to enable vertical scrolling */
    display: flex;
    flex-direction: row;
}
  
  .modalContent .modalLeft {
    width: 30%;
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
 
  .modalContent .modalRight {
    width: 70%;
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .modalBtn {
    display: flex;
    position: absolute;
    right: 5px;
    top: -5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }
    
  .closeBtn {
    margin-top: 10px;
    padding: 10px;
    background-color: #be4816;
    color: #d0cfcf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .closeBtn:hover {
    background-color: #d0cfcf;
    color: #be4816;
    border: 2px solid #be4816;  
  }
  