/* .background {
    display: flex;
    max-height: 1000px;
    position: relative;
  } */

  .mainContainer {
    min-height: 80vh;
    padding: 0 20px 20px 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    position: relative;
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }

  .firstWindow {
    position: relative;
    justify-content: center;
    left: 0;
    top: -45px;
    z-index: 5;
    transition: all .5s ease-in-out;
  }

  .firstWindow:hover {
    transform: scale(1.1);
  }

  .firstWindow, .secondWindow {
    flex: 1 0 50%;
  }


  .secondWindow {
    position: relative;
    justify-content: center;
    left: 0;
    top: 100px;
    z-index: 3;
    transition: all .5s ease-in-out;
  }

  .secondWindow:hover {
    transform: scale(1.1);
    z-index: 6;
  }

  .miniWindow1 {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 350px; 
    height: 200px;
  }
  .miniWindow2 {
    position: absolute;
    top: 10px;
    right: 350px;
    width: 400px; 
    height: 400px;
  }
  .miniWindow3 {
    position: absolute;
    bottom: 20px;
    left: 120px;
    width: 350px; 
    height: 200px;
  }
  .miniWindow4 {
    position: absolute;
    bottom: -10px;
    left: 400px;
    width: 350px; 
    height: 200px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screenHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screenHeaderLeft {
    margin-right: auto;
  }
  
  .screenHeaderButton {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screenHeaderButton.close {
    background: #ed1c6f;
  }
  
  .screenHeaderButton.maximize {
    background: #e8e925;
  }
  
  .screenHeaderButton.minimize {
    background: #74c54f;
  }
  
  .screenHeaderRight {
    display: flex;
  }
  
  .screenHeaderEllipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screenBody {
    display: flex;
  }
  
  .screenBodyItem {
    flex: 1;
    padding: 50px;
  }
  
  .screenBodyItem.left {
    display: flex;
    flex-direction: column;
  }
  
  .appTitle {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  
  .appTitle:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }

  .appReadmore {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: right;
    align-items: flex-end;
    color: #714959;
    font-size: 16px;
  }

  .appReadmore::hover {
    color: #ea1d6f;
  }

  .appReadmore:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }

  .ReadBTN {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: right;
    align-items: flex-end;
    color: #714959;
    font-size: 14px;
  }

  .ReadBTN:hover {
    color: #ea1d6f;
  }

  .question {
    font-size: 18px;
    font-weight: bold;
  }
  
  .appText{
    width: 100%;
    margin-top: 20px;
    color: #888;
    font-size: 14px;
    text-align: justify;
  }

  .successNote {
    margin-top: 30px;
    color: #888;
    font-size: 12px;
  }
  
  .appFormGroup {
    margin-bottom: 15px;
  }
  
  .appFormGroup.message {
    margin-top: 40px;
  }
  
  .appFormGroup.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .appFormControl {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .appFormControl::placeholder {
    color: #666;
  }
  
  .appFormControl:focus {
    border-bottom-color: #ddd;
  }
  
  .appFormButton {
    margin-left: 25px;
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .appFormButton:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .creditsLink {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  .messageBox {
    max-height: 350px !important;
  }
  

  /* ==============media querry */
    @media screen and (max-width: 1280px) {
   
    }
  
    @media screen and (max-width: 1024px){
        .firstWindow {
            top: 5px;
          }

        .secondWindow {
            top: 50px;
        }

        .firstWindow .background .container .screen .screenBodyItem{
            width: 400px;
            height: auto;
        }

        .miniWindow1,
        .miniWindow2,
        .miniWindow3,
        .miniWindow4 {
            display: none;
        }

        .appText span {
            display: -webkit-box;
            -webkit-line-clamp: 7; /* Number of lines to display */
            -webkit-box-orient: vertical;  
            overflow: hidden;
         }
    
    
  
    }
  
    @media screen and (max-width: 768px) {
        .firstWindow .background .container .screen .screenBodyItem{
            width: 350px;
        }
        
        .appText span {
            -webkit-line-clamp: 7;
         }
    
    }
  
    @media screen and (max-width: 640px) {
        .appText span {
            -webkit-line-clamp: 3;
         }
      
    }
  
    @media (orientation: portrait) {
     
    }
  