.container {
    display: flex;
    position: fixed;
    align-items: center;
    height: 70px;
    width: 90vw;
    z-index: 9999;
  }

  .wrapper {
    display: flex;
    width: 85vw;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    
  }
  
  .logo {
    flex: 1;
    text-align: left;
    font-size: 36px;
    font-weight: bold;
  }
  
  .links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 2;
    font-size: 20px;
  }
  /* @media screen and (max-width: 2560px) {
    .container {
        min-width: 53.8%;
        max-width: 54%;
    }
    }
  @media screen and (max-width: 1920px) {
    .container {
        min-width: 79%;
        max-width: 80%;
    }
} */
  
  @media screen and (max-width: 1280px) {
    /* .container {
        min-width: 61.5%;
        max-width: 62%;
    } */
    .logo {
      font-size: 32px;
    }
    .links {
      font-size: 18px;
      gap: 15px;
    }
  }
  @media screen and (max-width: 1024px) {
    /* .container {
        min-width: 67.2%;
        max-width: 67.5%;
    } */

    .social {
      display: none;
    }
    .logo {
      text-align: left;
    }
    .link {
        display: none;
      }

  }
  @media screen and (max-width: 768px) {
    /* .container {
        min-width: 73%;
        max-width: 74%;
    } */
    .logo {
      font-size: 24px;
    }
    
  }
  @media screen and (max-width: 640px) {
    /* .container {
        min-width: 71%;
        max-width: 72%;
    } */
    .links{
      justify-content: flex-end;
    }
  }
  