.container {
    display: flex;
    position: sticky;
    top: 0px;
    height: 70px;
    width: 100%;
    z-index: 9;
  }

  .wrapper {
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
  }

  .navBtn{
    display: flex;
    flex-direction: row;
  }
  .themeToggle{
    margin-right: 20px;
  }

  .logoWrapper {
    flex: 1;
  }
  
  .logo {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    font-size: 20px;
    cursor: pointer;
  }
  
  .link {
    position: relative;
    }

    .link:after {
        content: '';
        position: absolute;
        width: 30px; 
        height: 3px;
        background: var(--softTextColor);
        left: 0;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        transform: scaleX(0);
        transform-origin: left;
    }

    .link:hover:after,
    .link.active:after {
        transform: scaleX(1);
    }

    .link.active {
        background-color: aquamarine;
    }



  /* @media screen and (max-width: 2560px) {
    .container {
        min-width: 53.8%;
        max-width: 54%;
    }
    }
  @media screen and (max-width: 1920px) {
    .container {
        min-width: 79%;
        max-width: 80%;
    }
} */
  
  @media screen and (max-width: 1280px) {
    /* .container {
        min-width: 61.5%;
        max-width: 62%;
    } */
    .logo {
      font-size: 32px;
    }
    .links {
      font-size: 18px;
      gap: 15px;
    }
  }
  @media screen and (max-width: 1024px) {
    /* .container {
        min-width: 67.2%;
        max-width: 67.5%;
    } */

    .social {
      display: none;
    }
    .logo {
      text-align: left;
    }
    .link {
        display: none;
      }

  }
  @media screen and (max-width: 768px) {
    /* .container {
        min-width: 73%;
        max-width: 74%;
    } */
    .logo {
      font-size: 24px;
    }
    
  }
  @media screen and (max-width: 640px) {
    /* .container {
        min-width: 71%;
        max-width: 72%;
    } */
    .links{
      justify-content: flex-end;
    }
  }
  