@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
  body {
    min-width: 100vw;
    overflow-x: hidden;
    
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .dark {
    --bg: #232323;
    --bg1: #3b3b3b;
    --bgContra: rgb(212, 211, 211);
    --textColor: #b5b4b4;
    --softBg: #b5b5b5;
    --softBg1: #8c8b8b;
    --softTextColor: #656565;
    --mediumTextColor: #4f4f4f;
    --hardTextColor: rgb(0, 0, 0);
    --skillBar:linear-gradient(to right, rgba(81, 123, 7, 0.5), rgb(1, 166, 78));
    --picBg: linear-gradient(to top, rgba(81, 81, 81, 0), rgb(190, 189, 189));
    --active: rgba (210, 211, 211, 0.5); 
    
  }

  .light {
    --bg: white;
    --bg1: rgb(224, 224, 224);
    --bgContra:#000000;
    --textColor: black;
    --softBg: #272626;
    --softBg1: #666666;
    --softTextColor: #666666;
    --mediumTextColor: #c5c5c5;
    --hardTextColor: rgb(255, 255, 255);
    --skillBar:linear-gradient(to right, rgba(111, 65, 9, 0.5), rgb(166, 108, 1));
    --picBg: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(81, 81, 81));
    --active: rgba (81, 81, 81, 0.5); 
  }
 
  .bodyHtml {
    width: 100%;
    background-color: var(--bg);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    width: 100vw;  
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
    align-items: center;
    margin: auto;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column; 
    background-color: var(--bg);
    max-width: 1536px;
    justify-self: center;
    margin: auto;
  }

  .bodyContent {
    padding: 10px 20px;
    height: fit-content;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-content: center;

  }
  
 
  .ql-container{
    font-size: 28px !important;
  }
  
  .quill > .ql-container > .ql-editor.ql-blank::before{
    color: #b3b3b1;
  }





  /* ====================LANDING PAGE */

  .landingMain {
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    border-radius: 25px;
}

.landingPage {
    min-width: 60%;
    height:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.parallaxBG {
    display: none;
    
}


/* ========lefside Contents */
.contentLanding {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.leftside {
    width: 50%;
    padding: 25px;
    background: rgba(195, 194, 194, 0.586);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.leftside .descBox {
    padding-left: 35px;
}

.leftside h1 {
    font-size: 70px;
    font-weight: bolder;
    padding-left: 10px;
}

.leftside h2 {
    font-size: 40px;
    font-weight: bolder;
}

.leftside h3 {
    font-size: 30px;
    font-weight: bolder;
    padding-left: 10px;
}

.leftside p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding: 15px;
}

.hireBtn {
    padding: 5px 15px;
    background-color: #06a252;
    z-index: 9999;
}

.hireBtn:hover {
    background: #fff;
    color: #026b23;
    border: 2px solid #0a6a1f;
}

.leftSide .hireBtn {
    width: 50px;
}


/* =========rightside contents */

.rightside {
    width: 50%;
    display: flex;
    position: relative;
    overflow: hidden;
    background: url("/img/trendy_bg2.jpeg") no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .rightside .resumeBtn {
    position: absolute;
    bottom: 80px;
    right: 110px;
    padding: 5px 10px;
    background: #b9900b;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  .rightside .resumeBtn:hover {
    background: #fff;
    color: #0a6a1f;
    border: 2px solid #0a6a1f;
  }
  
  .rightside .myPic {
    /* background: #ff0000; */
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
  }

  .myPic::before {
    position: absolute;
    content: '';
    width: 115%;
    height: 50%;
    top: 200px;
    left: -40px;
    border: 20px solid var(--textColor);
    border-bottom: none;
    transform: translateY(-50%);
  }
  
  .myPic::after {
    position: absolute;
    content: '';
    width: 115%;
    height: 50%;
    border: 20px solid var(--textColor);
    border-top: 0;
    bottom: -60px;
    left: -40px;
  }

  .myPic Image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
  }

  .picBg {
    background: var(--picBg);
    width: 380px;
    height: 370px;
  }
  

.leftside,
.rightside {
    height: 80vh;
}

/* ===================media querry */

@media screen and (max-width: 1536px) {
    .wrapper {
      max-width: 1366px;
    }
  }


  @media screen and (max-width: 1280px) {
    .wrapper {
      max-width: 1024px;
    }
  }


  @media screen and (max-width: 1024px) {
    .wrapper {
      max-width: 768px;
      padding-left: 40px;
      padding-right: 40px;
    }
    
    .leftside h1 {
        font-size: 50px;
    }
    
    .leftside h2 {
        
        font-size: 35px;
    }
    
    .leftside h3 {
        
        font-size: 15px;
    }

    .rightside .myPic {
        /* background: #ff0000; */
        width: 222px;
        height: 260px;
      }
    
      .myPic::before {
        top: 126px;
        width: 127%;
      }

      .myPic::after {
        width: 127%;
        height: 50%;
      }
 
      .picBg {
        background: var(--picBg);
        width: 260px;
        height: 260px;
      }
    
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 640px;
    }

    .contentLanding {
        flex-direction: column-reverse;
    }

    .leftside,
    .rightside {
        width: 100%;
    }

    .leftside h1 {
        font-size: 45px;
    }
    
    .leftside h2 {
        
        font-size: 30px;
    }
    
    .leftside h3 {
        
        font-size: 15px;
    }

    .hireBtn {
        font-size: 15px;
        padding: 5px 5px;
    }

    .rightside .myPic {
        width: 300px;
        height: 350px;
      }
    
      .myPic::before {
        top: 148px;
        width: 125%;
        left: -55px;
      }

      .myPic::after {
        width: 125%;
        left: -55px;
      }
 
      .picBg {
        background: var(--picBg);
        width: 350px;
        height: 350px;
      }

  }

  @media screen and (max-width: 640px) {
    .wrapper {
      max-width: 475px;
    }

    .contentLanding {
        flex-direction: column-reverse;
    }

    .leftside,
    .rightside {
        width: 100%;
    }

    .leftside h1 {
        font-size: 60px;
    }
    
    .leftside h2 {
        
        font-size: 40px;
    }
    
    .leftside h3 {
        
        font-size: 20px;
    }

    .rightside .myPic {
        width: 300px;
        height: 350px;
      }
    
      .myPic::before {
        top: 148px;
        width: 116%;
        left: -28px;
      }

      .myPic::after {
        width: 116%;
        left: -28px;
      }
 
      .picBg {
        background: var(--picBg);
        width: 340px;
        height: 350px;
      }
  }


/* ===========typewritting effect */
@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "D"; }
    2.2791%, 25.0698% { content: "De"; }
    3.4186%, 23.9302% { content: "Dev"; }
    4.5581%, 22.7907% { content: "Deve"; }
    5.6977%, 21.6512% { content: "Devel"; }
    6.8372%, 20.5116% { content: "Develo"; }
    7.9767%, 19.3721% { content: "Develop"; }
    9.1163%, 18.2326% { content: "Develope"; }
    10.2558%, 17.0930% { content: "Developer"; }
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "A"; }
    33.0465%, 49.0000% { content: "Ar"; }
    34.1860%, 47.8605% { content: "Art"; }
    35.3256%, 46.7209% { content: "Arti"; }
    36.4651%, 45.5814% { content: "Artis"; }
    37.6047%, 44.4419% { content: "Artist"; }
    /* 37.6047%, 44.4419% { content: "artistv"; }
    37.6047%, 44.4419% { content: "artistve"; } */
  
    54.6977%, 75.2093% { content: ""; }
    55.8372%, 74.0698% { content: "S"; }
    56.9767%, 72.9302% { content: "Se"; }
    58.1163%, 71.7907% { content: "Sea"; }
    59.2558%, 70.6512% { content: "Seaf"; }
    60.3953%, 69.5116% { content: "Seafar"; }
    61.5349%, 68.3721% { content: "Seafarer"; }
  
    78.6279%, 96.8605% { content: ""; }
    79.7674%, 95.7209% { content: "S"; }
    80.9070%, 94.5814% { content: "Sc"; }
    82.0465%, 93.4419% { content: "Sco"; }
    83.1860%, 92.3023% { content: "Scou"; }
    84.3256%, 91.1628% { content: "Scout"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
  }

  .typewriter::after {
    content: "";
    border-right: 1ch solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }

  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "developer"; }
      25% { content: "creative"; }
      50% { content: "seafarer"; }
      75% { content: "scout"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }