.uploadWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .uploadForm {
    display: flex;
    align-items: center;
  }
  
  .uploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px dashed #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .uploadButton:hover {
    background-color: #e6e6e6;
  }
  
  .fileInput {
    display: none;
  }
  
  .uploadText {
    margin-left: 10px;
  }
  
  .uploadedArea {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  
  .uploadRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
  }
  
  .uploadContent {
    display: flex;
    align-items: center;
  }
  
  .uploadDetails {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .uploadName {
    font-weight: bold;
  }

.completedFiles ul li{
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
  
  .deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .deleteButton:hover {
    background-color: #ff0000;
  }
  
  .progressBar {
    height: 8px;
    background-color: #ddd;
    border-radius: 4px;
    width: 100%;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
  }
  
  .uploadPercent {
    font-size: 12px;
    font-weight: bold;
  }
  