.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 15px;
}

.title p {
    color: var(--mediumTextColor);
}

.section {
    position: relative;
    top: -15px;
    color: var(--mediumTextColor);
}

section p.logSwitch {
    color: var(--mediumTextColor);
}

.input_group {
    @apply flex border rounded-xl;
    position: relative;
}

.input_text {
    @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
    @apply focus:outline-none border-none;
}

.button {
    @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.button:hover,
.clientButton:hover {
    @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500;
    @apply text-gray-700 border;
}

.button_custom {
    @apply w-full border py-3 justify-center gap-2 hover:bg-gray-200;
}

.userBtn {
    display: flex;
    gap: 15px;
}

.visitorButton {
    margin-top: 10px;
    @apply w-full bg-gradient-to-r from-yellow-500 to-orange-500 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.clientButton {
    margin-top: 10px;
    @apply w-full bg-gradient-to-r from-orange-500 to-green-500 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.userDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: var(--mediumTextColor);
}

.userDesc p {
    font-size: 13px;
    color: var(--mediumTextColor);
}

.input_text,
.input_text + * {
    color: var(--mediumTextColor);
}

.input_text:focus,
.input_text:focus + * {
    color: #6366f1;
}

.input_text:not([type=email])~.span:hover* {
    color: #6366f1;
    cursor: pointer;
}

.close-button {

}


/* =============================media querry==== */

@media screen and (max-width: 1280px) {
    
}
@media screen and (max-width: 1024px) {
    .title .logDesc{
        width: 90%;
    }
    .button,
    .visitorButton, 
    .clientButton {
        @apply w-full;
        @apply py-1;
    }

    section p.logSwitch {
        display: flex; 
        font-size: 10px;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .userDesc p {
        text-align: center;
        font-size: 13px;
    }


}
@media screen and (max-width: 768px) {
    .input_text {
        @apply w-full;
    }

    .userDesc p {
        text-align: center;
        font-size: 9px;
    }

    .input_text,
    .input_text + * {
        font-size: 10px;
    }
 
  
}
@media screen and (max-width: 640px) {
    .userDesc p {
        text-align: center;
        font-size: 14px;
    }

}

