.container {
    padding: 0 2rem;
  }
  
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  

/* =========================================== */
.section {
    position: relative;
    top: -15px;
}

.input_group {
    @apply flex border rounded-xl;
    position: relative;
}

.input_text {
    @apply w-full py-4 px-6 border rounded-xl bg-slate-50;
    @apply focus:outline-none border-none;
}

.button {
    @apply w-full bg-gradient-to-r from-blue-500 to-indigo-500 rounded-md;
    @apply py-3 text-gray-50 text-lg;
}

.button:hover {
    @apply bg-gradient-to-r from-gray-50 to-gray-100 border-blue-500;
    @apply text-gray-700 border;
}

.button_custom {
    @apply w-full border py-3 justify-center gap-2 hover:bg-gray-200;
}

.input_text,
.input_text + * {
    color: #CBD5E1;
}

.input_text:focus,
.input_text:focus + * {
    color: #6366f1;
}

.input_text:not([type=email])~.span:hover* {
    color: #6366f1;
    cursor: pointer;
}

.close-button {

}


/* ========================================== */

.right-inner {
    position: relative;
    top: -15px;
 }
 
 
 .imgStyle {
     @apply bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md;
     position: relative;
     overflow: hidden;
 }
 
 .cartoonImg {
     background:  url('/assets_login_reg/img2.png')no-repeat;
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: 65% 100px;
     z-index: 1;
 }
 
 .cloud_one {
     background:  url('/assets_login_reg/cloud_1.png')no-repeat;
     position: absolute;
     top: 65%;
     left: 10%;
     width: 180px;
     height: 100px;
     background-size: contain;
     z-index: 2;
     transform: translateX(290%);
     animation: cloud_one 18.5s ease-in .9s infinite;
 }
 
 .cloud_two {
     background: url('/assets_login_reg/cloud_2.png')no-repeat;
     position: absolute;
     top: 49%;
     left: 50%;
     width: 200px;
     height: 100px;
     background-size: contain;
     z-index: 0;
     transform: translateX(290%);
     animation: cloud_two 25.5s ease-in 5.9s infinite;
 }
 
 /* css keyframes */
 
 @keyframes cloud_one {
     0% {
         transform: translateX(290%);
     }100%{
         transform: translateX(-250%);
     }
 }
 
 @keyframes cloud_two {
     0% {
         transform: translateX(160%);
     }100%{
         transform: translateX(-250%);
     }
 }
 
 /*===================================  */
