
  .portfolioWrapper {
    width: 100%;
    display: block;
  }

  .portfolioBodyContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
  }

  .contentNav {
    display: flex;
    position: sticky;
    width: 100%;
    top: 70px;
    margin-bottom: 5px;
    z-index: 2;
  }

  .portfolioContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
  }

   .portfolioBodyContents {
    display: block;
    width: 100%;
    padding: 5px;
  }
  

    /* ==============media querry */
    @media screen and (max-width: 1280px) {
   
    }
  
    @media screen and (max-width: 920px){
    
  
    }
  
    @media screen and (max-width: 768px) {    
    
    }
  
    @media screen and (max-width: 640px) {
      
    }
  
    @media (orientation: portrait) {
     
    }