.container {
    width: 100%;
    display: flex;
    height: fit-content;
    padding: 30px;
    margin-bottom: 10px;
    gap: 20px;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }

  .sideNav {
    min-width: 15%;
  }

  .contents {
    width: 100%;
    display: flex;
    height: fit-content;
    gap: 5px;
    justify-content: flex-start;
  }

   .portfolioContent {
    max-width: 85%;
    /* background: #fff; */
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  