  .wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .contentNav {
    display: flex;
    position: sticky;
    top: 70px;
    z-index: 99;
  }

  .contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 5px;
    justify-content: center;
  }

   .portfolioContent {
    width: 100%;
    /* background: #fff; */
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  