.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 99;
    overflow: auto; /* Change to "auto" to enable scrolling */
  }
  
  .modal {
    min-width: 800px;
    max-width: 80%; /* Change to "max-width" for responsiveness */
    min-height: 500px;
    max-height: auto; /* Change to "auto" for dynamic height */
    margin: 60px;
    color: black;
    background-color: #fff;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: auto;
  }

  .modalTitle {
    position: absolute;
    left: 30px;
    top: 120px;

  }
  
  .modalBanner {
    background: #ddd;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalFooter{
    background: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    flex: 1; /* Allow modal content to grow and occupy available space */
    padding: 20px;
    overflow-y: auto; /* Add "overflow-y" property to enable vertical scrolling */
    height: auto;
    display: flex;
    flex-direction: row;
}
  
  .modalContent .modalLeft {
    width: 50%;
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .modalInstruction {
    text-align: left;
    white-space: nowrap;
    font-size: 12px;
  }
 
  .modalContent .modalRight {
    width: 50%;
    padding: 15px;
    text-align: justify;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .modalBtn {
    display: flex;
    position: absolute;
    right: 5px;
    top: -5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }
    
  .closeBtn {
    margin-top: 10px;
    padding: 10px;
    background-color: #be4816;
    color: #d0cfcf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .closeBtn:hover {
    background-color: #d0cfcf;
    color: #be4816;
    border: 2px solid #be4816;

  }
  

  /* ==============FORM */
 .appointmentForm{
    display: flex;
    justify-content: space-between;
}   

.appFormControl {
    width: 100%;
    padding-left: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .appFormControl::placeholder {
    color: #ddd;
  }
  
  .appFormControl:focus {
    border-bottom-color: #ddd;
  }

.appFormControlMessage{
    width: 100%;
    height: 150px;
    min-height: 150px;
    max-height: 300px;
    padding-left: 5px;
    margin-top: 15px;
    overflow-y: visible;
}

.appFormButton {
    position: absolute;
    padding: 5px 15px;
    right: 25px;
    bottom: 20px;
    background-color: rgb(7, 159, 108);
    border-radius: 10px;
}

.appFormButton:hover {
    color: rgb(7, 159, 108);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(7, 159, 108);
}

.dateTIme{
    width: 100%;
    margin: 0 auto;
}

  .datePicker {
    margin: 0 auto;
    z-index: 999;
  }

  /* Meeting List */

  .meetingChoice {
    display: flex;
    gap: 10px;
  }

  /* Styles for the checkbox container */
 .meetingList {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  /* Styles for the input container */
 .addressInput {
    display: none; /* Initially hide the input */
    margin-left: 20px; /* Adjust the spacing as needed */
  }

  .inputOnsite input{
    width: 100%;
    padding: 5px;
    border-bottom: #666;
  }
    
  /* Styles for the checkboxes */
  .meetingList input[type="radio"] {
    margin-right: 10px;
  }
  
  /* Styles for the checkbox labels */
  .meetingList label {
    font-weight: bold;
  }
  
  /* Style for checked checkboxes */
  .meetingList input[type="radio"]:checked + label {
    color: #007bff; /* Change the color to your preference */
  }

  /* Style for showing the input when the checkbox is checked */
.meetingList input[type="radio"]:checked ~ .addressInput {
    display: block;
  }

  .socmedList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .socmed {
    display: flex;
    padding: 5px;
  }

  .socmed input {
    margin-right: 5px;
  }
  
  /* Success Form Submitted */
  .modalContentSuccess {
    padding: 50px;
    height: auto;
    display: flex;
  }
  .appointmentSent {
    padding: auto;
    align-items: center;
    justify-content: center;
  }

  .textLimit {
    display: flex;
    align-items: last baseline;
    justify-content: right;
    font-size: 10px;
  }