.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    overflow: auto; /* Change to "auto" to enable scrolling */
    }
  


.modal {
    min-width: 800px;
    max-width: 80%; /* Change to "max-width" for responsiveness */
    min-height: 500px;
    max-height: auto; /* Change to "auto" for dynamic height */
    margin: 60px;
    color: black;
    background-color: #fff;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    }

.modalContent {
    flex: 1; /* Allow modal content to grow and occupy available space */
    padding: 20px;
    overflow-y: auto; /* Add "overflow-y" property to enable vertical scrolling */
    height: auto;
    display: flex;
    flex-direction: row;
}

/* =========LEFT SIDE */
.LeftsidePanel {
    height: auto;
    min-width: 10%;
    max-width: 10%;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
}

.LeftsidePanelImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/trendy_bg3.jpeg") no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

.LeftsidePanelImg1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/trendy_bg2.jpeg") no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

.BGimage{
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

/* ==========RIGHT SIDE */
.RightsidePanel {
    height: auto;
    min-width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.modalBanner {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.modalBanner .modalBannerImg {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/trendy_bg2.jpeg") no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

.modalBanner .modalBannerImg1 {
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/img/trendy_bg3.jpeg") no-repeat left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
}

.modalBanner p {
    display: flex;
    position: absolute;
    font-size: 60px;
    font-family: fantasy;
    z-index: 1;
}

.RightPanelConent {
    max-height: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.RightPanelConent p {
    text-align: justify;
}

.LeftColumn, .RightColumn {
    width: 50%;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.PanelContextsTitle {
    margin-top: 10px;
    padding-left: 15px;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.PanelContexts {
    display: flex;
    margin-top: 10px;
}

/* ============BUTTON */
.modalBtn {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .modalBtnTop {
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: center;
    align-content: center;
  }
  
  .webLinks {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
  
  .closeBtn {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .closeBtnTop {
    padding: 10px;
    background-color: #be4816;
    color: #d0cfcf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
  }

  .closeBtnTop:hover {
    background-color: #d0cfcf;
    color: #be4816;
    border: 2px solid #be4816;  
  }
  